<link rel="stylesheet" href="/css/header.css">
<div class="header">
    <h1>
       <a href="/">Polling System</a> 
    </h1>
    <button>
        <a href="/questionPage">Create Question</a>
        
    </button>
</div>