<link rel="stylesheet" href="/css/createQuestion.css">
<div class="createQuestion">
    <form action="/questions/create" method="post">
        <input type="text" name="name" placeholder="Enter Question" required>
        <button type="submit"> Create Question</button>
    </form>
</div>