.header{
    height: 10vh;
    width: 100%;
    background-color: blue;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header h1{
    padding-left: 20px;
}
.header h1 a{
    text-decoration: none;
    color: white;
}
.header button{
    margin-right: 20px;
}
.header button a{
    text-decoration: none;
    color: black;
}